
<% title = "Register" %>

<div class="row">
  <div class="col-md-6 offset-md-3">
<h2 class="mb-4 offset-md-4">Register</h2>

<form action="/register" method="POST" class="card p-4 shadow-sm " style="max-width: 600px;"  onsubmit="return validateForm()">
  <div class="mb-3 ">
    <label>Name</label>
    <input type="text" name="name" class="form-control" required />
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required />
  </div>
  <div class="mb-3">
    <label>Address</label>
    <textarea name="address" class="form-control" required></textarea>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required />
  </div>
  <div class="mb-3">
    <label>Role</label>
    <select name="role" class="form-select" required>
      <option value="user">User</option>
      <option value="storeowner">Store Owner</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <button class="btn btn-primary">Register</button>
</form>
</div>
</div>

<script>
function validateForm() {
  const name = document.getElementById("name").value.trim();
  const email = document.getElementById("email").value.trim();
  const address = document.getElementById("address").value.trim();
  const password = document.getElementById("password").value;

  if (name.length < 20 || name.length > 60) {
    alert("Name must be between 20 and 60 characters.");
    return false;
  }

  if (address.length > 400) {
    alert("Address must not exceed 400 characters.");
    return false;
  }

  const passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,16}$/;
  if (!passwordRegex.test(password)) {
    alert("Password must be 8–16 characters and include one uppercase letter and one special character.");
    return false;
  }

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  if (!emailRegex.test(email)) {
    alert("Invalid email format.");
    return false;
  }

  return true;
}
</script>
